@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --portfolio-blue: #253439;
  --portfolio-brown: #c99d72;
  --background-color: #253439;
  --text: #dcbfa3;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background-color: var(--background-color);
}

/* =============================== */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .main-background-gradient {
    @apply bg-gradient-to-b from-[#253439] to-[#46636c];
  }

  .text-gradient {
    @apply bg-gradient-to-t from-[#c99d72] to-[#a67240] bg-clip-text text-transparent;
  }

  .text-gradient-light {
    @apply bg-gradient-to-t from-[#dcbfa3] to-[#c99d72] bg-clip-text text-transparent;
  }

  .section-title {
    @apply text-3xl text-center text-gradient-light;
  }

  .section-title::after {
    content: '';
    @apply block my-8 h-2 border-t-2 w-[10%] border-[#a67240] m-auto;
  }
}

@layer components {
  .svg {
    @apply w-[50px] h-[50px];
  }
}
