@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --portfolio-blue: #253439;
  --portfolio-brown: #c99d72;
  --background-color: #253439;
  --text: #dcbfa3;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background-color: var(--background-color);
}

/* =============================== */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .main-background-gradient {
    @apply bg-gradient-to-b from-[#253439] to-dark-3;
  }

  .text-gradient {
    @apply bg-gradient-to-t from-brown-1 to-brown-4 bg-clip-text text-transparent;
  }

  .text-gradient-light {
    @apply bg-gradient-to-t from-brown-5 to-brown-1 bg-clip-text text-transparent;
  }

  .section-title {
    @apply text-3xl text-center text-gradient-light;
  }

  .section-title::after {
    content: '';
    @apply block my-8 h-2 border-t-2 w-[10%] border-brown-4 m-auto;
  }
}

@layer components {
  .svg {
    @apply w-[50px] h-[50px];
  }

  .badge {
    @apply transition px-5 py-5 rounded-lg bg-dark-1 bg-opacity-50 backdrop-blur-md;
  }
}
