@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --portfolio-blue: #253439;
  --portfolio-brown: #c99d72;
  --background-color: #253439;
  --text: #dcbfa3;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background-color: var(--background-color);
}

/* =============================== */

@layer base {
  .focus {
    @apply focus:outline-none focus:outline-brown-1;
  }

  a:focus {
    @apply focus;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-v-center {
    @apply flex justify-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .main-background-gradient {
    @apply bg-gradient-to-b from-[#253439] to-dark-3;
  }

  .text-gradient {
    @apply bg-gradient-to-t from-brown-1 to-brown-4 bg-clip-text text-transparent;
  }

  .text-gradient-light {
    @apply bg-gradient-to-t from-brown-5 to-brown-1 bg-clip-text text-transparent;
  }

  .section-title {
    @apply text-3xl text-center text-gradient-light;
  }

  .section-title::after {
    content: '';
    @apply block my-8 h-2 border-t-2 w-[10%] border-brown-4 m-auto;
  }
}

@layer components {
  .hero-section {
    position: relative;
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1588993608283-7f0eda4438be?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-color: rgba(30, 42, 46, 0.8);
    background-blend-mode: darken;
    background-size: cover;
    @apply w-screen;
  }

  .svg {
    @apply w-[50px] h-[50px];
  }

  .badge {
    @apply transition px-5 py-5 rounded-lg bg-dark-1 bg-opacity-50 backdrop-blur-md;
  }
}
